.titleHomepage {
  text-align: center;
  margin-bottom: 5%;
}

.servicesHomepage {
  margin-top: 20px;
  padding:20px;
}
.serviceHomepage {
  display: inline-block;
  width: 33%;
  padding: 5px;
  text-align: center;
  vertical-align: text-top;
  margin-bottom: 15px;
}

.secondLineLeft {
  margin-left: 14%;
  margin-right: 2%;
}

.secondLineRight {
  margin-right: 14%;
  margin-left: 2%;
}

.serviceImageHomepage {
  border-radius: 50%;
  width: 100%;
  padding: 5px;
}

.serviceTextHomepage {
  text-align: center;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 650px) {
  .serviceTextHomepage {
    font-size:12px;
  }
}
