.logo {
    width: 80px;
}

.headerImage {
  width: 100%;
  max-height: 200px;
}

li {
  font-weight: bold;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 990px) {
  .menu {
    width: 90%;
    position: absolute;
  }
  .headerImageDiv {
    z-index: -10;
    position: relative;
    margin-top: 10px;
  }

  .nav-link.active{
    border-bottom: 2px solid black;
  }

  .collapsing {
    overflow: visible !important;
  }

  .navbar-collapse {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 70px;
  }

  .fbLogoDiv {
    z-index: 10;
    position: relative;
    margin-right: 20px;
    padding-bottom: 70px;
  }
  .fbLogo {
    width: 30px;
  }

  .logo {
    padding: 5px;
    padding-top: 20px;
    width: 150px;
  }

}