.services {
  padding: 20px;
}

.row.service {
  margin: 14px;
}

.serviceImage {
  padding-top: 10px;
  text-align: center;
  vertical-align: middle;
}

.serviceImage img {
  width: 100%;
}

.serviceText {
  padding: 5px;
  text-align: justify;
}

.serviceText p{
  margin-bottom: 0;
  padding: 5px;
  text-align: justify;
}

.list {
  padding-left: 20px;
}

.list li {
  text-align: left;
  padding-bottom: 0;
  list-style-type: circle;
}